.results-card {
	display: flex;
	flex-direction: column;
	background-color: black;
	color: whitesmoke;
	border-radius: 20px;
	padding: 0.8em;
	margin: 0.5em;
	/* overflow: hidden; */
}

.title {
	grid-row: 1;
}

.search-poster {
	width: 60%;
}

.title h4 {
	font-size: 1.2rem;
	/* margin-top: 20px; */
}

.poster {
	grid-row: 2;
	grid-column: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info {
	grid-row: 2;
	grid-column: 2;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	padding: 20px;
}

.synopsis {
	grid-row: 3;
	grid-column: span 2;
}

.synopsis p {
	font-size: 18px;
	padding: 10px;
}
