.results-container {
	display: grid;
	gap: 30px;
}

.results-card {
	display: grid;
	width: 800px;
	height: 600px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	border: 5px solid black;
	border-radius: 10px;
}

.title {
	grid-row: 1;
	grid-column: 1 / span 2;
	display: flex;
	justify-content: center;
	align-content: center;
}

.title h3 {
	margin-top: 20px;
}

.anime-poster {
	grid-row: 2;
	grid-column: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info {
	grid-row: 2;
	grid-column: 2;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	padding: 20px;
}

.synopsis {
	grid-row: 3;
	grid-column: span 2;
}

.synopsis p {
	font-size: 18px;
	padding: 10px;
}
