.anime-page {
	width: 100vw;
	height: 100vh;
	background: url('../../assets/1156316.jpg') no-repeat center center fixed;
	background-size: cover;
	opacity: 0.8;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
