@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Skranji&family=Sniglet&display=swap');

:root{
	--color-black: 0 0% 0%;
	--color-orange: 36 99% 47%;
	--color-blue: 185 100% 76%;
	--color-purple: 273 75% 30%;
	--color-cyan: 196 100% 93%;
	--special-font: 'Ceviche One', cursive;
}

body {
	/* background: url(./assets/1065654.png) no-repeat fixed; */
	background-color: hsl(var(--color-black));
	background-size: cover;
	opacity: .8;
}

/**********************************
// Homepage
***********************************/

.homepage {
	display: grid;
	grid-template-rows: .5fr min-content 1fr;
	place-items: center;
	row-gap: 3rem;
}

.homepage h2 {
	margin-top: 3vh;
	color: hsl(var(--color-orange));
	font-family: var(--special-font);
	text-shadow: 2px 2px 2px hsl(var(--color-purple));
	font-size: 5rem;
	letter-spacing: 2px;
}

.video-container {
	width: 60vw;
}

video {
	width: 100%;
	opacity: 0.95;
	object-fit: cover;
}


.choice {
	width: 60vw;
	display: flex;
	justify-content: space-around;
	margin-bottom: 2vh;
}

.anime, .manga {
	box-shadow: 1px 1px 5px hsl(var(--color-purple));
	text-shadow: 2px 2px 2px hsl(var(--color-purple));
	color: hsl(var(--color-orange));
	padding: .5em;
	border-radius: 20px;
	opacity: 0.9;
	font-size: 55px;
	font-family: var(--special-font);
	text-decoration: none;
	position: relative;
	overflow: hidden;
}


.manga:before, .anime:before {
	content: '';
	background-color: hsl(var(--color-cyan));
	top: 0;
	left: 0;
	width: 150%;
	height: .8em;
	position: absolute;
	transform: translateX(-100%) rotate(-45deg);
	transition: all .4s;

}

.manga:hover, .anime:hover {
	/* background-color: hsl(var(--color-blue)); */
	color: hsl(var(--color-purple));
	text-shadow: 1px 1px 1px hsl(var(--color-orange));
	box-shadow: 1px 1px 5px hsl(var(--color-orange));
}

.manga:hover::before, .anime:hover::before {
	transform: translateX(100%) rotate(-45deg);
}

header {
	padding-inline: 2rem;
	height: 10vh;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 1px hsl(var(--color-cyan) / .3);
}

/* header > nav {
	grid-column: 3;
	display: flex;
} */

/* nav * {
	margin: 10px 10px;
	text-decoration: none;
} */



.display-area {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

/**********************************
// Type
***********************************/

.type-page{
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 80vw 1fr;
	grid-template-rows: min-content 1fr;	
}

.anime-bg{
	background: url(./assets/1156316.jpg);
	background-size: cover;
}


.manga-bg {
	background: url(./assets/1065654.png);
	background-size: cover;
}


.type {
	height: 65vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
}

.type-page h1, .type {
	grid-column: 2;
}

.type-page h1 {
	font-size: 6rem;
	font-family: var(--special-font);
	text-align: center;
	color: hsl(var(--color-cyan));
	text-shadow: 2px 2px 2px hsl(var(--color-orange));
	margin-top: 3vh;

}

.type a {
	text-decoration: none;
	box-shadow: 1px 1px 5px hsl(var(--color-purple));
	text-shadow: 2px 2px 2px hsl(var(--color-purple));
	color: hsl(var(--color-orange));
	background-color: hsl(var(--color-black));
	padding: .5em;
	border-radius: 20px;
	font-size: 55px;
	font-family: var(--special-font);
	position: relative;
	overflow: hidden;
}

.type a:hover{
	color: hsl(var(--color-purple));
	text-shadow: 1px 1px 1px hsl(var(--color-orange));
	box-shadow: 1px 1px 5px hsl(var(--color-orange));
}

.type a:before {
	content: '';
	background-color: hsl(var(--color-cyan));
	top: 0;
	left: 0;
	width: 150%;
	height: .8em;
	position: absolute;
	transform: translateX(-100%) rotate(-45deg);
	transition: all .4s;

}

.type a:hover::before {
	transform: translateX(100%) rotate(-45deg);
}
