body {
	background-color: black;
}

.homepage {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
}

.main-choice {
	grid-row: 2;
	justify-self: center;
	align-self: center;
}
